*{
    box-sizing: border-box;
}

body{
    background-color:darkseagreen;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
h3{
    color: white;
}

.topnav{
    overflow: hidden;
    padding: 10px;

}
.topnav a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;


}

.topnav .search-nav{
    float: right;
}


form{
    background-color: darkseagreen;
    width: 300px;
    height: 43px;
    border-radius: 11px;
    display: flex;
    align-items: center;
}