*{
    box-sizing: border-box;
}

body{
    background-color: rgb(66, 69, 62);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
h3{
    color: white;
}

.topnav{
    overflow: hidden;
    padding: 10px;

}
.topnav a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;


}

.topnav .search-nav{
    float: right;
}


form{
    width: 300px;
    height: 43px;
    border-radius: 11px;
    display: flex;
    align-items: center;
}

input{
    all: unset;
    font: 15px system-ui;
    color: whitesmoke;
    height: 100%;
    padding: 6px 9px;
    background-color: rgb(55, 57, 52);
    border-radius: 3%;

}

.thumbnail{
    width: 300px;
    height: 350px;
    background-color: lightgray;
    border-radius: 19px;

}

.colums{
    float: left;
    width: 19%;
    padding: 10px; 

}
.card{
    border-radius: 19px;
    padding: 15px;
    text-align: center;
    background-color: rgb(55, 57, 52);
    font-size: calc(1.4px + .5vw);
}